<% layout('../ui.layout') -%>
<section class="hero" data-vue="post-featured" data-posttype="<%=posttype%>" v-cloak>
  <div class="hero-body">
    <div class="container">

    <div class="columns">

      <div class="column has-text-right">
        <button class="button is-success" v-bind:class="{'is-loading' : isProcessing }" :disabled="JSON.stringify(itemsRaw) == JSON.stringify(items) || isProcessing" v-on:click="save()">
          <span class="icon">
            <i class="fas fa-save"></i>
          </span>
          <span>Salvar</span>
        </button>

        <div class="mt-2" v-if="JSON.stringify(itemsRaw) != JSON.stringify(items)">
          <a href="javascript:void(0);" v-on:click="discard()"><i class="fas fa-trash"></i> Descartar alterações </a>
        </div>
      </div>
    </div>

    <hr class="mt-0 mb-3">

    <div class="columns" v-if="isProcessing && !loaded">
      <div class="column">
        <div class="box is-size-6"> <i class="fas fa-sync-alt fa-spin mr-2"></i> Carregando...</div>
      </div>
    </div>

    <div class="columns" v-if="loaded && !items.length">
      <div class="column">
        <div class="notification">

          <div class="mb-2"><i class="fas fa-exclamation-circle mr-1"></i> Nenhum item encontrado.</div>

          <button class="button is-rounded is-small" v-on:click="fetchInfo()" v-bind:class="{'is-loading' : isProcessing }">
            <span class="icon">
              <i class="fas fa-sync-alt"></i>
            </span>
            <span>
              Tentar Novamente
            </span>
          </button>

        </div>
      </div>
    </div>

    <draggable v-model="items" dragable=".box" v-if="items.length" handle=".handle">
      <transition-group>
        <div class="box" v-for="(item, index) in items" :key="item.id">
          <div class="columns is-flex-wrap-wrap is-align-items-center">

            <div class="column is-6 pb-0 pt-0">
              <div class="button is-small handle is-movable" title="Ordernar"><i class="fas fa-arrows-alt"></i></div>
              <span class="tag is-warning">
                <i class="fas fa-hashtag mr-1"></i><strong v-text="index+1"></strong>
              </span>
            </div>
            <div class="column is-6 p-0 has-text-right">
              <button class="button is-small is-danger mr-2" title="Remover" :disabled="isProcessing" v-on:click="removeItem(item)"><i class="fas fa-times"></i></button>
            </div>

            <div class="media mt-4">             

              <div class="media-left">
                <figure class="image is-128x128">
                  <img :src="item.cover">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <div v-if="!item.status">
                   <span class="tag is-danger">Rascunho</span>
                  </div>
                  <small class="is-size-7 has-text-grey" v-if="item.created_at != item.updated_at">Atualizado {{item.updated_at | moment("from", "now")}}</small>

                  <div v-if="item.status" class="tags has-addons">
                   <span class="tag" v-bind:class="{ 'is-info' : isFuture(item.published_date), 'is-success' : !isFuture(item.published_date)}" v-text="isFuture(item.published_date) ? 'Agendado' : 'Publicado'"></span>
                   <span class="tag"><i class="fas fa-clock mr-1"></i>{{item.published_date | moment("DD/MM/YY \à\\s HH:mm")}}</span>
                  </div>
                  <div class="title is-5 mb-0">{{item.title}}</div>
                  <p class="is-5">{{item.description}}</p>
                  <div class="has-text-grey-light is-size-7">
                    <i class="fas fa-clock mr-1"></i> <span>Criado em {{item.created_at | moment("DD/MM/YY \à\\s HH:mm")}}</span> - <span><i class="fas fa-user mr-1"></i><span>{{item.author.name}}</span></span>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </transition-group>

    </draggable>

    <button slot="footer" class="button is-large is-fullwidth mt-2 mb-5" v-on:click="openPostFinder()" :disabled="isProcessing">
      <span class="icon"><i class="fa fa-plus-circle"></i></span> <span>Adicionar Novo</span>
    </button>


    </div>
  </div>
</section>
