<% layout('../ui.layout') -%>

<section data-vue="post-editor" data-posttype="<%=posttype%>" data-id="<%=ID%>" v-cloak>

  <div class="hero">
     <div class="hero-body">

      <div class="container" v-if="!loaded">
        <div class="columns">
          <div class="column">
            <div class="box is-size-6"> <i class="fas fa-sync-alt fa-spin mr-2"></i> Carregando...</div>
          </div>
        </div>
      </div>

      <div class="container" v-if="loaded && !data">
        <div class="columns">
          <div class="column">
            <div class="notification">
              Nenhum item encontrado.
              <button class="button is-rounded is-small" v-on:click="fetchInfo()">
                <span class="icon">
                  <i class="fas fa-sync-alt"></i>
                </span>
                <span>
                  Tentar Novamente
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container" v-if="loaded && data && postType">
        <div class="columns">
          <div class="column is-9">

            <div class="mb-3">
              <button class="button is-small is-success" v-bind:class="{'is-loading' : isProcessing }"><i class="fa fa-save mr-1"></i> Salvar e sair</button>
              <button class="button is-small is-info" v-bind:class="{'is-loading' : isProcessing }"><i class="fa fa-pen-square mr-1"></i> Salvar e continuar editando</button>
              <button v-if="id != 'new'" class="button is-small is-danger is-light" v-bind:class="{'is-loading' : isProcessing }"><i class="fa fa-times mr-1"></i> Descartar Alterações</button>
            </div>


            <div v-if="isCached" class="notification is-small notification-warning p-2">
              <div class="mb-2">
                <div class="is-size-7"><i class="fa fa-exclamation-circle"></i> Você esta editando uma cópia de segurança</div>
                <p class="is-size-7">
                  Essa é uma versão salva automáticamente no seu navegador. <strong>Deseja descartar a cópia de segurança?</strong>
                </p>
              </div>
              <button class="button is-small is-success"><i class="fa fa-check mr-1"></i> Manter e continuar editando</button>
              <button class="button is-small is-info"><i class="fa fa-times mr-1"></i> Editar versão original</button>
            </div>

            <div class="box">

              <div class="field">
                <div class="is-size-7 m-1" v-if="data.slug">
                  <a href="javascript:void(0);"><span v-text="data.slug"></span><i class="fas fa-edit ml-1"></i></a>
                </div>
                <div class="control has-icons-left">
                  <span class="icon is-medium is-left">
                    <i class="fas fa-heading"></i>
                  </span>
                  <input class="input" type="text" minlength="6" placeholder="Headline" v-model="data.title">
                </div>
              </div>


              <div class="field">
                <div class="control is-small">
                  <textarea class="textarea is-small has-fixed-size" rows="2" placeholder="Descrição curta" maxlength="120" v-model="data.description"></textarea>
                </div>
                <small class="is-size-7 has-text-grey">
                  <i class="fa fa-keyboard mr-1"></i> <span><span v-text="data.description.length"></span>/120 caracteres.</span>
                </small>
              </div>

              <div class="notification" v-if="showOptionsSEO">

                <p class="is-size-7 mb-2">
                  <strong>Title e Description:</strong>
                </p>

                <div class="field" v-if="showOptionsSEO">
                  <div class="control is-small has-icons-left">
                    <input class="input is-small" type="text" minlength="6" placeholder="SEO Headline">
                    <span class="icon is-small is-left">
                      <i class="fas fa-heading"></i>
                    </span>
                  </div>
                </div>

                <div class="field" v-if="showOptionsSEO">
                  <div class="control is-small">
                    <textarea class="textarea is-small has-fixed-size" rows="2" placeholder="SEO Meta Description" maxlength="120" v-model="data.seoDescription"></textarea>
                  </div>
                  <small class="is-size-7 has-text-grey">
                    <i class="fa fa-keyboard mr-1"></i> <span><span v-text="data.seoDescription.length"></span>/120 caracteres.</span>
                  </small>
                </div>
              </div>

              <ckeditor :editor="editor" v-model="data.content" :config="editorConfig"></ckeditor>


              <div v-if="postType && postType.custom_fields">
                <hr>
                <h2 class="subtitle">Campos Extras</h2>

                <div v-for="customField in postType.custom_fields">

                  <div class="field mb-5" v-if="customField.type == 'TEXT'">
                    <label class="label" v-text="customField.title"></label>
                    <div class="control">
                      <input class="input" type="text" v-model="data.customFields[customField.key]">
                    </div>
                    <strong class="is-size-7 tag is-danger" v-if="customField.required">Campo Obrigatório</strong>
                  </div>

                  <div class="field mb-5" v-if="customField.type == 'URL'">
                    <label class="label" v-text="customField.title"></label>
                    <div class="control">
                      <input class="input" type="url" v-model="data.customFields[customField.key]" placeholder="http://...">
                    </div>
                    <strong class="is-size-7 tag is-danger" v-if="customField.required">Campo Obrigatório</strong>
                  </div>


                  <div class="field mb-5" v-if="customField.type == 'MULTIPLE'">
                    <label class="label" v-text="customField.title"></label>
                    <div class="buttons">
                      <button class="button" v-for="option in customField.options.split('\n')">{{option.split(':')[0]}}</button>
                    </div>
                    <strong class="is-size-7 tag is-danger" v-if="customField.required">Campo Obrigatório</strong>
                  </div>

                  <div class="field mb-5" v-if="customField.type == 'SELECT'">
                    <label class="label" v-text="customField.title"></label>

                    <div class="control">
                      <div class="select">
                        <select v-model="data.customFields[customField.key]">
                          <option :value="''">---</option>
                          <option v-for="option in customField.options.split('\n')" :value="option.split(':')[0] || option.split(':')[1]">{{option.split(':')[0]}}</option>
                        </select>
                      </div>
                    </div>

                    <strong class="is-size-7 tag is-danger" v-if="customField.required">Campo Obrigatório</strong>
                  </div>

                  <div class="field mb-5" v-if="customField.type == 'DATE'">
                    <label class="label" v-text="customField.title"></label>
                    <div class="control">
                      <input-datetime class="input"/>
                    </div>
                  </div>

                  <div class="field mb-5" v-if="customField.type == 'IMAGE'">
                    <label class="label" v-text="customField.title"></label>
                    <input-image/>
                  </div>


                </div>

              </div>



            </div>

          </div>

          <div class="column is-3">

            <div class="mb-3">
              <button class="button is-small is-rounded" v-on:click="showOptionsSEO = !showOptionsSEO"><i class="fa mr-2" v-bind:class="{'fa-eye-slash': !showOptionsSEO, 'fa-eye': showOptionsSEO}"></i> Opções de SEO</button>
            </div>


            <div class="mb-3">
              <input-image :placeholder="'Imagem de capa'"></input-image>
            </div>
            <hr>

            <div class="select mb-3">
              <select v-model="data.status">
                <option v-bind:value="false">Rascunho</option>
                <option v-bind:value="true">Publicado</option>
              </select>
            </div>

            <hr>

            <div class="field mb-3">
              <div class="control">
                <input-datetime v-model="data.publishedDate" class="input"></input-datetime>
              </div>
            </div>

            <hr>

            <div class="mb-3">
              <div class="select mb-2">
                <select v-model="data.parent">
                  <option :value="''">Sem Categoria</option>
                  <option v-for="cat in categories" :value="cat.id" v-text="cat.title"></option>
                </select>
              </div>

              <div class="mb-2">
                <button class="button is-small mr-2" v-if="data.parent" v-on:click="openCategoryEditor(data.parent || null)"><i class="fa fa-edit mr-1"></i> Editar</button>
                <button class="button is-small is-info" v-on:click="openCategoryEditor()"><i class="fa fa-edit mr-1"></i> Nova</button>
              </div>
            </div>

            <hr>

            <div class="notification p-2" class="mb-3" v-if="data.tags.length">
              <span class="tag is-info m-1" v-for="tag in data.tags">
                <span class="mr-1" v-text="tag"></span>
                <button class="delete is-small" v-on:click="removeTag(tag)"></button>
              </span>

            </div>

            <div class="field">
              <div class="control has-icons-left">
                <span class="icon is-medium is-left">
                  <i class="fas fa-tag"></i>
                </span>
                <input v-on:keyup="checkTag" class="input" type="text" minlength="6" placeholder="Inserir Tag">
              </div>
              <div>
                <small class="is-size-7 has-text-grey">
                  <i class="fa fa-keyboard mr-1"></i> <span>Use [enter] ou [,] para inserir.</span>
                </small>
              </div>
            </div>

          </div>
        </div>
      </div>

     </div>
   </div>


   <pre v-text="data">

   </pre>
</section>
