<% layout('../ui.layout') -%>

<section data-vue="post-editor" data-posttype="<%=posttype%>" data-id="<%=ID%>" v-cloak>

  <div class="hero">
     <div class="hero-body">

      <div class="container" v-if="!loaded">
        <div class="columns">
          <div class="column">
            <div class="box is-size-6"> <i class="fas fa-sync-alt fa-spin mr-2"></i> Carregando...</div>
          </div>
        </div>
      </div>

      <div class="container" v-if="loaded && !data">
        <div class="columns">
          <div class="column">
            <div class="notification">
              Nenhum item encontrado.
              <button class="button is-rounded is-small" v-on:click="fetchInfo()">
                <span class="icon">
                  <i class="fas fa-sync-alt"></i>
                </span>
                <span>
                  Tentar Novamente
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container" v-if="loaded && data && postType">
        <div class="columns">
          <div class="column is-9">

            <div class="mb-3">
              <button class="button is-small" v-on:click="cancel()" v-bind:class="{'is-loading' : isProcessing }"><i class="fa fa-arrow-left mr-1"></i> Sair</button>
              <button class="button is-small is-success" v-bind:class="{'is-loading' : isProcessing }" v-on:click="save(true)" :disabled="JSON.stringify(rawData) == JSON.stringify(data)"><i class="fa fa-save mr-1"></i> Salvar e sair</button>
              <button class="button is-small is-info" v-bind:class="{'is-loading' : isProcessing }" v-on:click="save(false)" :disabled="JSON.stringify(rawData) == JSON.stringify(data)"><i class="fa fa-pen-square mr-1"></i> Salvar e continuar editando</button>
            </div>


            <div v-if="myUser && data.is_editing_by && data.is_editing_by != myUser.id" class="notification is-danger is-light">
              <div class="mb-2">
                <div class="subtitle"><i class="fa fa-exclamation-circle"></i> Este artigo esta sendo editado por outra pessoa.</div>
                <p>
                  Parece que <strong v-text="users.find(a => a.id == data.is_editing_by).name || 'alguém'"></strong> esta editando este artigo neste momento. Por questão de segurança, <strong>modificações não serão salvas.</strong><br><br>
                </p>
              </div>
              <button class="button is-danger" v-on:click="unlockItem(null, true)"><i class="fa fa-check mr-2"></i> Desbloquear Edição</button>
            </div>


            <div v-if="localSavedNotification && data.is_editing_by && data.is_editing_by == myUser.id" class="notification is-info is-light">
              <div class="mb-2">
                <div class="subtitle"><i class="fa fa-exclamation-circle"></i> Você esta editando uma cópia de segurança</div>
                <p>
                  Essa é uma versão salva automáticamente em <strong>{{cachedTime | moment("DD/MM/YYYY \à\\s HH:mm:ss")}}</strong>.<br>
                  <strong>Deseja continuar editando esta versão?</strong>
                </p>
              </div>
              <button class="button mr-2" v-on:click="savedLocalDataAction('discard')"><i class="fa fa-times mr-2"></i> Descartar alterações</button>
              <button class="button is-success" v-on:click="savedLocalDataAction('keep')"><i class="fa fa-check mr-2"></i> Continuar</button>
            </div>

            <div class="mb-3 is-size-7 has-text-grey" v-if="data.id != 'new' && data.created_at">
              Criado em <strong class="has-text-grey">{{data.created_at | moment("DD/MM/YYYY \à\\s HH:mm:ss")}}</strong><span v-if="data.created_at != data.updated_at">, Atualizado <strong class="has-text-grey">{{data.updated_at | moment('from', 'now')}}</strong>.</span>
            </div>

            <div class="box">

              <div class="is-size-7 m-1" v-if="!editSlug && data.slug">
                <a href="javascript:void(0);" v-on:click="editSlug = true">
                  <span v-text="getPath()"></span><i class="fas fa-edit ml-1"></i>
                </a>
              </div>

              <div class="field" v-if="editSlug">
                <div class="control">
                  <input class="input is-small" type="text" minlength="6" placeholder="Slug" v-model="data.slug" :disabled="isProcessing" v-on:keyup="data.slug = slugifySlug(data.slug)">
                  <a href="javascript:void(0);" v-on:click="editSlug = false" class="is-size-7"><i class="fas fa-edit ml-1"></i> Terminar edição</a>
                </div>
              </div>

              <div class="is-size-7 mb-2 has-text-danger" v-if="!!Object.keys(errors).find(a => a == 'data.slug' || a == 'data.slug_key')">Slug inválido ou duplicado. Tente editar o slug ou a categoria do artigo.</div>

              <div class="field">
                <div class="control has-icons-left">
                  <span class="icon is-medium is-left">
                    <i class="fas fa-heading"></i>
                  </span>
                  <input class="input" type="text" minlength="6" placeholder="Headline/Titulo" v-model="data.title" :disabled="isProcessing" v-on:blur="() => data.slug = !data.slug || data.id == 'new' ? slugifySlug(data.title) : data.slug" v-bind:class="{'is-danger' : !!errors['data.title']}">
                  <small class="is-size-7 has-text-danger" v-if="!!errors['data.title']" v-text="errors['data.title']"></small>
                </div>
              </div>


              <div class="field">
                <div class="control is-small">
                  <textarea class="textarea is-small has-fixed-size" rows="2" placeholder="Descrição curta" maxlength="120" v-model="data.description" :disabled="isProcessing"></textarea>
                </div>
                <small class="is-size-7 has-text-grey">
                  <i class="fa fa-keyboard mr-1"></i> <span><span v-text="data.description.length"></span>/120 caracteres.</span>
                </small>
              </div>

              <div class="notification" v-if="showOptionsSEO">

                <p class="is-size-7 mb-2">
                  <strong>Title e Description:</strong>
                </p>

                <div class="field" v-if="showOptionsSEO">
                  <div class="control is-small has-icons-left">
                    <input class="input is-small" maxlength="120" v-model="data.seo_title" type="text" minlength="6" placeholder="SEO Headline" :disabled="isProcessing">
                    <span class="icon is-small is-left">
                      <i class="fas fa-heading"></i>
                    </span>
                  </div>
                </div>

                <div class="field" v-if="showOptionsSEO">
                  <div class="control is-small">
                    <textarea class="textarea is-small has-fixed-size" rows="2" placeholder="SEO Meta Description" maxlength="120" v-model="data.seo_description" :disabled="isProcessing"></textarea>
                  </div>
                  <small class="is-size-7 has-text-grey">
                    <i class="fa fa-keyboard mr-1"></i> <span><span v-text="data.seo_description.length"></span>/120 caracteres.</span>
                  </small>
                </div>
              </div>

              <small class="is-size-7 has-text-danger" v-if="!!errors['data.content']" v-text="errors['data.content']"></small>
              <ckeditor :editor="editor" @ready="getSavedLocalData" v-model="data.content" :config="editorConfig"></ckeditor>


              <div v-if="postType && postType.custom_fields && postType.custom_fields.length">
                <hr>
                <h2 class="subtitle">Campos Extras</h2>

                <div v-for="custom_field in postType.custom_fields">

                  <div class="field mb-5" v-if="custom_field.type == 'TEXT'">
                    <label class="label"><span v-text="custom_field.title"></span><span class="has-text-danger" v-if="custom_field.required"> *</span></label>
                    <div class="control">
                      <input class="input" type="text" :name="data.custom_fields[custom_field.key]" v-model="data.custom_fields[custom_field.key]" :disabled="isProcessing">
                    </div>
                  </div>

                  <div class="field mb-5" v-if="custom_field.type == 'URL'">
                    <label class="label"><span v-text="custom_field.title"></span><span class="has-text-danger" v-if="custom_field.required"> *</span></label>
                    <div class="control">
                      <input class="input" type="url" :name="data.custom_fields[custom_field.key]" v-model="data.custom_fields[custom_field.key]" placeholder="http://..." :disabled="isProcessing">
                    </div>
                  </div>


                  <div class="field mb-5" v-if="custom_field.type == 'MULTIPLE'">
                    <label class="label"><span v-text="custom_field.title"></span><span class="has-text-danger" v-if="custom_field.required"> *</span></label>
                    <div class="buttons">
                      <button class="button is-small" v-for="option in custom_field.options.split('\n')" v-on:click="toggleCustomMultipleOption(custom_field.key, option.split(':')[1] || option.split(':')[0])" v-bind:class="{'is-info' : checkCustomMultipleOption(custom_field.key, option.split(':')[1] || option.split(':')[0])}" :disabled="isProcessing">
                        <i class="fas fa-times mr-1" v-if="checkCustomMultipleOption(custom_field.key, option.split(':')[1] || option.split(':')[0])"></i> {{option.split(':')[0]}}
                      </button>
                    </div>
                  </div>

                  <div class="field mb-5" v-if="custom_field.type == 'SELECT'">
                    <label class="label"><span v-text="custom_field.title"></span><span class="has-text-danger" v-if="custom_field.required"> *</span></label>

                    <div class="control">
                      <div class="select">
                        <select :name="data.custom_fields[custom_field.key]" v-model="data.custom_fields[custom_field.key]" :disabled="isProcessing">
                          <option :value="''">---</option>
                          <option v-for="option in custom_field.options.split('\n')" :value="option.split(':')[1] || option.split(':')[0]">{{option.split(':')[0]}}</option>
                        </select>
                      </div>
                    </div>

                  </div>

                  <div class="field mb-5" v-if="custom_field.type == 'DATE'">
                    <label class="label"><span v-text="custom_field.title"></span><span class="has-text-danger" v-if="custom_field.required"> *</span></label>
                    <div class="control">
                      <input-datetime class="input" :name="data.custom_fields[custom_field.key]" v-model="data.custom_fields[custom_field.key]" :disabled="isProcessing"/>
                    </div>
                  </div>

                  <div class="field mb-5" v-if="custom_field.type == 'IMAGE'">
                    <label class="label"><span v-text="custom_field.title"></span><span class="has-text-danger" v-if="custom_field.required"> *</span></label>
                    <input-image v-model="data.custom_fields[custom_field.key]" :candelete="false" :removefromserver="false" v-on:change="(image) => setCustomInputImage(image, custom_field.key)" :disabled="isProcessing" />
                  </div>

                </div>

                <small class="has-text-danger" v-if="postType.custom_fields.find(a => a.required)">* Campos obrigatórios</small>

              </div>

            </div>

          </div>

          <div class="column is-3">


            <div class="mb-3 has-text-right" v-if="JSON.stringify(rawData) != JSON.stringify(data) && !isProcessing">
              <a href="javascript:void(0)" class="has-text-danger" v-on:click="discard()">Descartar alterações</a>
            </div>

            <div class="mb-3">
              <button class="button is-small is-rounded" v-on:click="showOptionsSEO = !showOptionsSEO" :disabled="isProcessing"><i class="fa mr-2" v-bind:class="{'fa-eye-slash': !showOptionsSEO, 'fa-eye': showOptionsSEO}"></i> Opções de SEO</button>
            </div>

            <div class="mb-3">
              <span class="label">Imagem de Capa:</span>
              <input-image :placeholder="'Imagem de capa'" v-model="data.cover" :removefromserver="false" :disabled="isProcessing"></input-image>
            </div>
            <hr>

            <div class="field mb-3">
              <label class="label">Status:</label>
              <div class="select">
                <select v-model="data.status" :disabled="isProcessing">
                  <option v-bind:value="false">Rascunho</option>
                  <option v-bind:value="true">Publicado</option>
                </select>
              </div>
            </div>

            <div class="field mb-3" v-if="data.id !== 'new'">
              <label class="label">Autor:</label>
              <div class="select">
                <select v-model="data.author" :disabled="isProcessingUsers">
                  <option v-bind:value="user.id" v-for="user in users" v-text="user.name"></option>
                </select>
              </div>
            </div>

            <hr>

            <div class="field mb-3">
              <div class="control">
                <label class="label">Data de Publicação:</label>
                <input-datetime v-model="data.published_date" class="input" :disabled="isProcessing"></input-datetime>
              </div>
            </div>

            <hr>

            <div class="field mb-3">
              <label class="label">Categoria:</label>
              <div class="select mb-2" v-bind:class="{'is-loading' : isProcessingCats }">
                <select v-model="data.category" :disabled="isProcessingCats || isProcessing">
                  <option :value="''">Sem Categoria</option>
                  <option v-for="cat in categories" :value="cat.id" v-text="cat.title"></option>
                </select>
              </div>

              <div class="mb-2">
                <button class="button is-small mr-2" v-if="data.category" v-on:click="openCategoryEditor(data.category || null)" :disabled="isProcessing"><i class="fa fa-edit mr-1"></i> Editar</button>
                <button class="button is-small is-info" v-on:click="openCategoryEditor()" :disabled="isProcessing"><i class="fa fa-edit mr-1"></i> Nova</button>
              </div>
            </div>

            <hr>

            <span class="label">Tags:</span>

            <div class="notification p-2" class="mb-3" v-if="data.tags.length">
              <span class="tag is-info m-1" v-for="tag in data.tags">
                <span class="mr-1" v-text="tag"></span>
                <button class="delete is-small" v-on:click="removeTag(tag)" :disabled="isProcessing"></button>
              </span>
            </div>

            <div class="field">
              <div class="control has-icons-left">
                <span class="icon is-medium is-left">
                  <i class="fas fa-tag"></i>
                </span>
                <input v-on:keyup="checkTag" class="input" type="text" minlength="6" placeholder="Inserir Tag" :disabled="isProcessing">
              </div>
              <div>
                <small class="is-size-7 has-text-grey">
                  <i class="fa fa-keyboard mr-1"></i> <span>Use [enter] ou [,] para inserir.</span>
                </small>
              </div>
            </div>

          </div>
        </div>
      </div>

     </div>
   </div>
</section>
