<% layout('../ui.layout') -%>



<section class="hero" data-vue="user-edit" v-cloak data-id="<%=userId%>">
  <div class="hero-body">
    <div class="container">

      <div class="columns has-text-right">
        <div class="column">

          <button class="button is-small" v-if="MODE == 'edit'" v-bind:class="{'is-loading' : isProcessing }" v-on:click="openLog()"><i class="fa fa-list-alt mr-1"></i> Log</button>


          <a href="/users" class="button is-small">
            <span class="icon">
              <i class="fas fa-caret-left"></i>
            </span>
            <span>Voltar</span>
          </a>
        </div>
      </div>

      <hr>

      <div class="columns" v-if="!loaded">
        <div class="column">
          <div class="box is-size-6"> <i class="fas fa-sync-alt fa-spin mr-2"></i> Carregando...</div>
        </div>
      </div>



      <div class="columns" v-if="loaded">
        
        <div class="column">

          <div class="box">

            <h2 class="subtitle"><i class="fas fa-id-card mr-2"></i> Dados básicos</h2>

            <div class="columns">
              <div class="column is-half">
            

                <div class="field">
                  <label class="label">Nome e Sobrenome <span class="has-text-danger">*</span></label>
                  <div class="control has-icons-left">
                    <span class="icon is-medium is-left">
                      <i class="fas fa-user-circle"></i>
                    </span>
                    <input class="input" v-model="form.name" type="email" minlength="6" v-bind:class="{'is-danger' : errors && errors.find(a => a.model == 'name')}" :disabled="isProcessing || userInfo && userInfo.role == 'editor'">
                  </div>
                </div> 

                <div class="field">
                  <label class="label">E-mail <span class="has-text-danger">*</span></label>
                  <div class="control has-icons-left">
                    <span class="icon is-medium is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <input class="input" v-model="form.email" type="text" minlength="6" v-bind:class="{'is-danger' : errors && errors.find(a => a.model == 'email')}" :disabled="isProcessing || userInfo && userInfo.role == 'editor'">
                  </div>
                </div> 

                <div class="field">
                  <label class="label">Atribuição</label>
                  <div class="control has-icons-left">
                    <span class="icon is-medium is-left">
                      <i class="fas fa-briefcase"></i>
                    </span>
                    <input class="input" v-model="form.front_role" type="text" minlength="6" v-bind:class="{'is-danger' : errors && errors.find(a => a.model == 'front_role')}" :disabled="isProcessing || userInfo && userInfo.role == 'editor'">
                  </div>
                </div> 

                <div class="field">
                  <div class="control">
                    <textarea class="textarea" v-model="form.bio" placeholder="Bio" v-bind:class="{'is-danger' : errors && errors.find(a => a.model == 'bio')}" :disabled="isProcessing || userInfo && userInfo.role == 'editor'"></textarea>
                  </div>

                </div> 


              </div>

              <div class="column is-half">
                
                <div class="field">
                  <label class="label">Nível de Acesso <span class="has-text-danger">*</span></label>
                  <div class="control has-icons-left">
                    <span class="icon is-medium is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                    <div class="select">
                      <select v-model="form.role" :disabled="isProcessing || userInfo && userInfo.role == 'editor'" v-bind:class="{'is-danger' : errors && errors.find(a => a.model == 'role')}">
                        <option value="editor">Editor</option>
                        <option value="admin">Administrador</option>
                        <option value="dev">Desenvolvedor</option>
                      </select>
                    </div>
                  </div>
                </div> 

                <div class="field">
                  <label class="label">Login <span class="has-text-danger">*</span></label>
                  <div class="control has-icons-left">
                    <span class="icon is-medium is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                    <div class="select">
                      <select v-model="form.active" :disabled="isProcessing || userInfo && userInfo.role == 'editor'">
                        <option value="1">Ativo</option>
                        <option value="0">Desativado</option>
                      </select>
                    </div>
                  </div>
                </div> 


                <div v-if="MODE == 'edit' && !updatePass">
                  <button v-on:click="updatePass = true" class="button is-fullwidth is-light" :disabled="userInfo && userInfo.role =='editor'">
                    <span class="icon">
                      <i class="fas fa-key"></i>
                    </span>
                    <span>
                    Atualizar senha
                    </span>
                  </button>
                </div>


                <div class="field" v-if="MODE == 'new' || (MODE == 'edit' && updatePass)">
                  <label class="label">Senha <span class="has-text-danger">*</span></label>
                  <div class="control">
                    <input v-on:keyup="setScore()" class="input" v-model="form.password" type="password" autocomplete="new-password" minlength="6" v-bind:class="{'is-danger' : errors && errors.find(a => a.model == 'password')}" :disabled="isProcessing || userInfo && userInfo.role == 'editor'">
                  </div>
                </div> 

                <progress v-if="form.password.length > 0" class="progress is-small" v-bind:class="{'is-danger' : score < 50, 'is-warning': score >= 50 && score < 70, 'is-success' : score > 70 }" :value="score" max="100" v-text="score"></progress>

                <div class="field" v-if="MODE == 'new' || (MODE == 'edit' && updatePass)">
                  <label class="label">Repetir Senha <span class="has-text-danger">*</span></label>
                  <div class="control">
                    <input class="input" v-model="form.passwordB" type="password" autocomplete="new-password" minlength="6" v-bind:class="{'is-danger' : errors && errors.find(a => a.model == 'passwordB')}" :disabled="isProcessing || userInfo && userInfo.role == 'editor'">
                  </div>
                </div> 

              </div>
            </div>


            <div v-if="errors && errors.length" class="notification is-danger">
              <button class="delete" v-on:click="errors = []"></button>
              <p v-for="error in errors" v-text="error.message"></p>
            </div>


            <div class="control" v-if="loaded">
              <button type="button" class="button is-info is-primary is-fullwidth" :disabled="isProcessing || userInfo && userInfo.role == 'editor'" v-bind:class="{'is-loading' : isProcessing }" v-on:click="checkForm" v-text="MODE == 'new' ? 'Criar Usuário' : 'Salvar atualizações'"></button>
            </div>

            
          </div>
                    
        </div>

      </div>

    </div>
  </div>
</section>
