@charset "utf-8";
@import "vendors/fontawesome.scss";
@import "vendors/vue-wysiwyg.scss";
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/vue-toast-notification/dist/theme-sugar";

[v-cloak] {
  opacity: 0;
  pointer-events: none;
}

.file-image-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background: whitesmoke;


  .delete {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}


.sortable-ghost {
  opacity: .3;
  box-shadow: none;
  background: whitesmoke;
}
