@charset "utf-8";
@import "vendors/fontawesome.scss";
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/vue-toast-notification/dist/theme-sugar";

[v-cloak] {
  opacity: 0;
  pointer-events: none;
}

.file-image-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background: whitesmoke;

  .image {
    min-height: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    img { transition: transform .1s linear; }
  }

  &:hover .image img {
    transform: scale(1.1);
  }

  .delete {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}


.sortable-ghost {
  opacity: .3;
  box-shadow: none;
  background: whitesmoke;
}


.select {
  width: 100%;
  display: block;

  select { width: 100%; }
}

// .ck .media { display: block; }

.ck-content {
  @extend .content;
}

.is-movable {
  cursor: move;
}

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
  top: 52px !important;
}

.has-text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
