<% layout('layout') -%>
<section class="section">
  <div class="container mb-5 is-max-desktop">
    <figure style="max-width: 150px;" class="mb-5">
      <img class="image" src="/assets/logo.png">
    </figure>
    <% if (isDone) { %> 
    <h1 class="title mb-0">Tudo Pronto!</h1>
    <p class="is-size-5">
      Agora falta pouco :)
    </p>
    <% } else { %>
    <h1 class="title mb-0">Vamos começar</h1>
    <p class="is-size-5">
      Preencha os campos abaixo para realizar a instalação e configurações básica do <strong>Gpost</strong>:
    </p> 
    <% } %> 
  </div>

  <div class="container is-max-desktop">

    <% if (isDone) { %> 
      <div class="notification is-success">
        <p>Reinicie o node.js para continuar.</p>
      </div>    
    <% } %>
    
    <% if (!isDone) { %>  
    <form action="/" method="post">
    
      <% if (errors && errors.length > 0) {%>
      <div class="notification is-danger">
        <%- errors.join('<br/>') %>
      </div>
      <% } %>

      <div class="box">
        <h2 class="subtitle">Configurações do site</h2>

        <div class="field">
          <label class="label">Nome do site</label>
          <div class="control">
            <input class="input" name="siteName" type="text" required minlength="3">
          </div>
        </div>

        <div class="field">
          <label class="label">URL onde o site esta hospedado.</label>
          <div class="control">
            <input class="input" name="siteUrl" type="url" minlength="12" required>
          </div>
        </div>
      </div>

      <div class="box">
        <h2 class="subtitle">Acesso</h2>

        <div class="field">
          <label class="label">Nome</label>
          <div class="control">
            <input class="input" name="userName" type="email" placeholder="seu@email.com" required>
          </div>
        </div>

        <div class="field">
          <label class="label">E-mail</label>
          <div class="control">
            <input class="input" name="userEmail" type="email" placeholder="seu@email.com" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Senha</label>
          <div class="control">
            <input class="input" name="userPassword" type="password" autocomplete="new-password" minlength="6">
          </div>
        </div>

        <div class="field">
          <label class="label">Repetir Senha</label>
          <div class="control">
            <input class="input" name="userPasswordB" type="password" autocomplete="new-password" minlength="6">
          </div>
        </div>
      </div>

      <div class="control">
        <button type="submit" class="button is-primary is-fullwidth is-large is-uppercase" onclick="validate()">Prosseguir</button>
      </div>

    </form>
    <% } %>
  </div>
</section>
<script>
  function validate(e) {
    return true;
  }
</script>
