<% layout('../ui.layout') -%>
<section class="hero" data-vue="banner-edit" data-id="<%=areaID%>" v-cloak>
  <div class="hero-body">
    <div class="container">


      <div class="columns has-text-right">
        <div class="column">
          <a href="/banners" class="button">
            <span class="icon">
              <i class="fas fa-caret-left"></i>
            </span>
            <span>Voltar</span>
          </a>
        </div>
      </div>

      <hr>

      <div class="columns" v-if="!loaded">
        <div class="column">
          <div class="box is-size-6"> <i class="fas fa-sync-alt fa-spin mr-2"></i> Carregando...</div>
        </div>
      </div>

      
      <div class="columns">
        <div class="column is-3">

          <div class="field">
            <label class="label">Titulo <span class="has-text-danger">*</span></label>
            <div class="control has-icons-left">
              <span class="icon is-medium is-left">
                <i class="fas fa-images"></i>
              </span>
              <input class="input" v-model="form.title" type="emailtext" minlength="6" v-bind:class="{'is-danger' : errors && errors.find(a => a.model == 'title')}" :disabled="isProcessing || userInfo && userInfo.role == 'editor'" required>
            </div>
          </div> 

        </div>

        <div class="column is-3">

          <div class="field">
            <label class="label">Descrição <span class="has-text-danger">*</span></label>
            <div class="control has-icons-left">
              <span class="icon is-medium is-left">
                <i class="fas fa-align-left"></i>
              </span>
              <input class="input" v-model="form.description" type="text" minlength="6" v-bind:class="{'is-danger' : errors && errors.find(a => a.model == 'description')}" :disabled="isProcessing || userInfo && userInfo.role == 'editor'" required>
            </div>
          </div> 

        </div>
      </div>
      <div class="columns">
        <div class="column is-6">
          <div v-if="errors && errors.length" class="notification is-danger">
            <button class="delete" v-on:click="errors = []"></button>
            <p v-for="error in errors" v-text="error.message"></p>
          </div>
        </div>
      </div>
      <div class="columns">
        
        <div class="column is-6">
          <div class="control" v-if="loaded">
            <button type="button" class="button is-info is-primary is-fullwidth" :disabled="isProcessing || userInfo && userInfo.role == 'editor'" v-bind:class="{'is-loading' : isProcessing }" v-on:click="checkForm" v-text="MODE == 'new' ? 'Criar Novo' : 'Salvar atualizações'"></button>
          </div>
        </div>


      </div>

    </div>
  </div>
</section>
