<% layout('ui.layout') -%>

<div class="hero">
  <div class="hero-body">

    <div class="container">
      <div class="notification content">
        <h1 class="title">Olá, <a href="/account"><%=userData.name%></a>.</h1>
        <% if(userData.role == 'dev') { %>
        <p>Visite a <a href="/api-docs">documentação</a> para detalhes de integração.</p>
        <% } %>
        

        <div class="box">
          <strong>3.1.2 - 17/03/2021</strong>
          <ul>
            <li>Log de Atividades</li>
            <li>Opção de arquivamento de artigos</li>
            <li>Novos filtros de busca de artigos no painel (Autor e Itens arquivados)</li>
            <li>Persistência de opções de filtro de artigos no painel</li>
            <li>Novos filtros de busca de artigos para a API, incluindo busca por Tags e Autor</li>
            <li>Melhorias de performance no processo de salvamento do editor de banners</li>
          </ul>

          <hr>

          <strong>3.1.1 - 04/03/2021</strong>
          <ul>
            <li>Ajustes nas opções de SEO</li>
            <li>Correção para Editores</li>
            <li>Filtro de Artigos para API</li>
            <li>Gerenciador de Destaques</li>
          </ul>

          <hr>

          Envie sugestões e feedbacks para <a href="mailto:gil@wecontent.com.br">Gil Vieira &lt;gil@wecontent.com.br&gt;</a>


        </div>


      </div>
    </div>

  </div>
</div>
