<% layout('ui.layout') -%>

<div class="hero">
  <div class="hero-body">

    <div class="container">
      <div class="notification">
        <h1 class="title">Bem vindo <%=userData.name%>.</h1>
        <p>Seu último acesso foi <%=userData.last_accessText%></p>
      </div>
    </div>

  </div>
</div>
