<% layout('ui.layout') -%>

<div class="hero">
  <div class="hero-body">

    <div class="container">
      <div class="notification">
        <h1 class="title">Bem vindo.</h1>
        <p class="subtitle">Em breve coisas legais vão estar na sua página inicial, enquanto isso, sinta-se livre para utilizar as ferramentas já liberadas.</p>
      </div>
    </div>

  </div>
</div>
