<% layout('../ui.layout') -%>
<section class="hero" data-vue="config-list" v-cloak>
  <div class="hero-body">
    <div class="container">

      <div class="columns" v-if="isProcessing">
        <div class="column">
          <div class="box is-size-6"> <i class="fas fa-sync-alt fa-spin mr-2"></i> Carregando...</div>
        </div>
      </div>

      <div class="columns" v-if="!isProcessing && !data && !data.length">
        <div class="column">
          <div class="notification">
            Nenhum item encontrado.
            <button class="button is-rounded is-small" v-on:click="fetchInfo()">
              <span class="icon">
                <i class="fas fa-sync-alt"></i>
              </span>
              <span>
                Tentar Novamente
              </span>
            </button>
          </div>
        </div>
      </div>


      <p>As atualizações só são visiveis após recarregar a página.</p>
      <hr>
      <div class="box" v-for="config in data">
        <div class="columns is-align-items-center">
          <div class="column">
            <strong v-text="config.key_name"></strong>
          </div>
          <div class="column" v-if="config.key_type == 'TEXT' || config.key_type == 'URL'">
            <div class="field">
              <div class="control">
                <input class="input" v-model="config.key_value" :type="config.key_type.toLowerCase()" :required="!config.custom_type" minlength="6" v-bind:class="{'is-danger' : errors && errors.find(a => a.model == config.key_slug)}" :disabled="isProcessing || userInfo && userInfo.role == 'editor'" :disabled="userInfo && userInfo.role == 'editor'">
              </div>
            </div> 
          </div>
          <div class="column" v-if="config.key_type == 'IMAGE'">
            <input-image v-model="config.key_value" :disabled="userInfo && userInfo.role == 'editor'" v-on:change="updateKey($event, config)"></input-image>
          </div>
          <div class="column" v-if="config.key_type == 'BOOLEAN'">
            <div class="select">
              <select v-model="config.key_value" :disabled="userInfo && userInfo.role == 'editor'">
                <option value="0">Desativar</option>
                <option value="1">Ativar</option>
              </select>
            </div>
          </div>
          <div class="column has-text-right" v-if="config.key_type != 'IMAGE'">
            <button class="button is-small is-success" v-on:click="updateKey($event, config)" type="button" :disabled="userInfo && userInfo.role == 'editor'">
              <i class="mr-2 fas fa-save"></i>
              <span>Salvar</span>
            </button>
          </div>
        </div>  
      </div>

    </div>
  </div>
</section>
